<div class="user-bar">
  <div class="title">Users total: {{users?.length}}</div>
  <hr>
  <virtual-scroller [items]="users" [enableUnequalChildrenSizes]="false" (vsUpdate)="viewPortItems = $event">
    <div class="user" *ngFor="let user of viewPortItems">
      {{user}}
    </div>
  </virtual-scroller>
</div>
