.tab-area {
  display: flex;
  background-color: rgba(26, 26, 52, .4);
  align-items: flex-end;

  .join {
    cursor: pointer;
    color: white;
    border-radius: 100px;
    height: 18px;
    width: 18px;
    margin: 0 10px 4px 5px;
    padding: 2px 5px;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    &:hover {
      background-color: #2a9a32;
      transition-duration: .2s;
    }
  }
}

.tab-container {
  display: flex;
  height: 30px;
  align-items: flex-end;
  overflow-x: overlay;

  &::-webkit-scrollbar {
    height: 3px;
  }

  &::-webkit-scrollbar-button {
    width: 0;
    height: 0;
  }

  &::-webkit-scrollbar-track {
    /*background:#eee;
    border: thin solid lightgray;
    box-shadow: 0px 0px 3px #dfdfdf inset;
    border-radius:10px;*/
    background: rgba(0, 0, 0, 0);
  }

  &::-webkit-scrollbar-thumb {
    background: #999;
    /*border: thin solid gray;*/
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #7d7d7d;
  }

  .tab {
    padding: 2px 5px 2px 10px;
    margin: 0 1px;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    cursor: pointer;
    height: 25px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;

    .channel-text {
      font-family: Consolas, monospace;
      font-size: 12px;
    }

    &:hover {
      background-color: rgba(255, 255, 255, 0.3);
    }

    &.unread {
      background-color: rgba(255, 154, 37, 0.6);
    }

    &.active {
      background-color: white;
      color: rgba(36, 36, 63, .8);
      font-weight: 600;
    }

    .leave {
      visibility: hidden;
      color: rgb(216, 216, 216);
      margin-left: 3px;
    }

    &:hover {
      .leave {
        visibility: visible;
      }
    }
  }
}

.cdk-drag-preview {
  padding: 2px 5px 2px 10px;
  margin: 0 1px;
  background-color: rgba(255, 255, 255, 0.5);
  color: white;
  cursor: pointer;
  height: 25px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  font-family: Consolas, monospace;
  font-size: 12px;
  line-height: 24px;

  .active {
    background-color: black !important;
  }

  .leave {
    display: none;
  }
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drop-list-dragging .cdk-drag {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
