h1 {
  font-family: exo-main, "Segoe UI", Roboto, Helvetica, sans-serif;
}

ul {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 15px;
  list-style-position: inside;
  border-radius: 5px;
}
